@using DailyLoan.Library
@using DailyLoan.Library.Status
@{ var init = new InitialConfig(); }
<div class="row">
    <div class="col-sm-11 pt-2">
        <div class="row">
            <h2>เรตราคา</h2>
        </div>
    </div>
    <div class="col-sm-11 pt-2">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group required-field">
                    <label for="acc-name">@init.config_th["CustomerRate"]</label>
                    <input type="text" class="form-control" name="customerrate" id="customerrate" value="@ViewBag.PageData.Configs["CustomerRate"]" required>
                </div><!-- End .form-group -->
            </div><!-- End .col-md-8 -->
            <div class="col-md-4">
                <div class="form-group required-field">
                    <label for="acc-name">@init.config_th["AgentRate"]</label>
                    <input type="text" class="form-control" name="agentrate" id="agentrate" value="@ViewBag.PageData.Configs["AgentRate"]" required>
                </div><!-- End .form-group -->
            </div><!-- End .col-md-8 -->
            <div class="col-md-4">
                <div class="form-group required-field">
                    <label for="acc-name">@init.config_th["HouseRate"]</label>
                    <input type="text" class="form-control" name="houserate" id="houserate" value="@ViewBag.PageData.Configs["HouseRate"]" required>
                </div><!-- End .form-group -->
            </div><!-- End .col-md-8 -->
        </div><!-- End .row -->
    </div><!-- End .col-sm-11 -->
    <div class="col-sm-11 pt-2">
        <div class="row">
            <h2>เงื่อนไขการตัด</h2>
        </div>
    </div>
    <div class="col-sm-11 pt-2">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group required-field">
                    <label for="acc-name">@init.config_th["MinCutDay"]</label>
                    <input type="text" class="form-control" name="mincutday" id="mincutday" value="@ViewBag.PageData.Configs["MinCutDay"]" required>
                </div><!-- End .form-group -->
            </div><!-- End .col-md-8 -->
            <div class="col-md-6">
                <div class="form-group required-field">
                    <label for="acc-name">@init.config_th["IncCutCriteria"]</label>
                    <input type="text" class="form-control" name="inccutcriteria" id="inccutcriteria" value="@ViewBag.PageData.Configs["IncCutCriteria"]" required>
                </div><!-- End .form-group -->
            </div><!-- End .col-md-8 -->
        </div><!-- End .row -->
    </div><!-- End .col-sm-11 -->
    <div class="col-sm-11 pt-2">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group required-field">
                    <label for="acc-name">@init.config_th["DecCutPercen"]</label>
                    <input type="text" class="form-control" name="deccutpercen" id="deccutpercen" value="@ViewBag.PageData.Configs["DecCutPercen"]" required>
                </div><!-- End .form-group -->
            </div><!-- End .col-md-8 -->
            <div class="col-md-6">
                <div class="form-group required-field">
                    <label for="acc-name">@init.config_th["DecCutCriteria"]</label>
                    <input type="text" class="form-control" name="deccutcriteria" id="deccutcriteria" value="@ViewBag.PageData.Configs["DecCutCriteria"]" required>
                </div><!-- End .form-group -->
            </div><!-- End .col-md-8 -->
        </div><!-- End .row -->
    </div><!-- End .col-sm-11 -->
    <div class="col-sm-11 pt-2">
        <div class="row">
            <h2>เรตกำไร และ เงื่อนไขพิเศษ</h2>
        </div>
    </div>
    <div class="col-sm-11 pt-2">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group required-field">
                    <label for="acc-name">@init.config_th["TotalProfit"]</label>
                    <input type="text" class="form-control" name="totalprofit" id="totalprofit" value="@ViewBag.PageData.Configs["TotalProfit"]" required>
                </div><!-- End .form-group -->
            </div><!-- End .col-md-8 -->
            <div class="col-md-6">
                <div class="form-group required-field">
                    <label for="acc-name">@init.config_th["SpecialRateCriteria"]</label>
                    <input type="text" class="form-control" name="specialratecriteria" id="specialratecriteria" value="@ViewBag.PageData.Configs["SpecialRateCriteria"]" required>
                </div><!-- End .form-group -->
            </div><!-- End .col-md-8 -->
        </div><!-- End .row -->
    </div><!-- End .col-sm-11 -->
    <div class="col-sm-11 pt-2">
        <div class="row">
            <h2>การแจ้งเตือน</h2>
        </div>
    </div>
    <div class="col-sm-11 pt-2">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group required-field">
                    <label for="acc-name">@init.config_th["NotPayAlert"]</label>
                    <input type="text" class="form-control" name="notpayalert" id="notpayalert" value="@ViewBag.PageData.Configs["NotPayAlert"]" required>
                </div><!-- End .form-group -->
            </div><!-- End .col-md-8 -->
            <div class="col-md-6">
                <div class="form-group required-field">
                    <label for="acc-name">@init.config_th["PartialPayAlert"]</label>
                    <input type="text" class="form-control" name="partialpayalert" id="partialpayalert" value="@ViewBag.PageData.Configs["PartialPayAlert"]" required>
                </div><!-- End .form-group -->
            </div><!-- End .col-md-8 -->
        </div><!-- End .row -->
    </div><!-- End .col-sm-11 -->
</div>
<div class="mb-1"></div>
<input type="hidden" id="HouseId" name="HouseId" value="@ViewBag.House" />
<div class="required text-right">* Required Field</div>
<label id="msg"></label>
<div class="form-footer">
    <div class="form-footer-right">
        <button type="button" class="btn btn-primary" id="save">บันทึก</button>
    </div>
</div><!-- End .form-footer -->
<div class="row">
    <div class="col-12">
        <table id="table" class="table table-striped table-bordered" style="width:100%">
            <thead style="width:100%">
                <tr>
                    <th>#</th>
                    <th>วันที่เริ่ม</th>
                    <th>วันที่หมด</th>
                    <th>เรตลูกค้า</th>
                    <th>เรตค่าหัว</th>
                    <th>เรตเข้าบ้าน</th>
                    <th>จำนวนวันตัด</th>
                    <th></th>
                </tr>
            </thead>
            <tbody style="width:100%">
                @if (ViewBag.PageData.SpecialRates.Count > 0)
                {
                    foreach (var items in ViewBag.PageData.SpecialRates)
                    {
                        <tr class='clickable-row'>
                            <td scope="row">@items.Id</td>
                            <td>@items.StartDate.ToString("dd/MM/yyyy")</td>
                            <td>@items.EndDate.ToString("dd/MM/yyyy")</td>
                            <td>@items.CustomerRate</td>
                            <td>@items.AgentRate</td>
                            <td>@items.HouseRate</td>
                            <td>@items.MinCutDay</td>
                            <td>
                                <button type="button" class="btn btnClick" style="padding-left:10px;padding-right:10px;padding-top:5px;padding-bottom:5px;">select</button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-sm-11 pt-2">
        <input type="checkbox" id="isNew" name="isNew" value="true">
        <label for="isNew">เพิ่มเรตพิเศษใหม่</label>
    </div>
    <div class="col-sm-11 pt-2">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group required-field">
                    <label for="acc-name">วันที่เริ่ม</label>
                    <input type="text" class="form-control" name="startdate" id="startdate" required>
                </div><!-- End .form-group -->
            </div><!-- End .col-md-8 -->
            <div class="col-md-6">
                <div class="form-group required-field">
                    <label for="acc-name">วันที่หมด</label>
                    <input type="text" class="form-control" name="enddate" id="enddate" required>
                </div><!-- End .form-group -->
            </div><!-- End .col-md-8 -->
        </div><!-- End .row -->
    </div><!-- End .col-sm-11 -->
    <div class="col-sm-11 pt-2">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group required-field">
                    <label for="acc-name">@init.config_th["CustomerRate"]</label>
                    <input type="text" class="form-control" name="spcustomerrate" id="spcustomerrate" required>
                </div><!-- End .form-group -->
            </div><!-- End .col-md-8 -->
            <div class="col-md-4">
                <div class="form-group required-field">
                    <label for="acc-name">@init.config_th["AgentRate"]</label>
                    <input type="text" class="form-control" name="spagentrate" id="spagentrate" required>
                </div><!-- End .form-group -->
            </div><!-- End .col-md-8 -->
            <div class="col-md-4">
                <div class="form-group required-field">
                    <label for="acc-name">@init.config_th["HouseRate"]</label>
                    <input type="text" class="form-control" name="sphouserate" id="sphouserate" required>
                </div><!-- End .form-group -->
            </div><!-- End .col-md-8 -->
        </div><!-- End .row -->
    </div><!-- End .col-sm-11 -->
    <div class="col-sm-11 pt-2">
        <div class="row">
            <div class="col-md-8">
                <div class="form-group required-field">
                    <label for="acc-name">@init.config_th["MinCutDay"]</label>
                    <input type="text" class="form-control" name="spmincutday" id="spmincutday" required>
                </div><!-- End .form-group -->
            </div><!-- End .col-md-8 -->
        </div><!-- End .row -->
    </div><!-- End .col-sm-11 -->
</div>
<div class="mb-1"></div>
<input type="hidden" id="SpecialRateId" name="SpecialRateId" />
<div class="required text-right">* Required Field</div>
<label id="msg"></label>
<div class="form-footer">
    <div class="form-footer-right">
        <button type="button" class="btn btn-danger" id="spdelete" style="display:none;">ลบ</button>
        <button type="button" class="btn btn-primary" id="spsave">บันทึก</button>
    </div>
</div><!-- End .form-footer -->
<script type="text/javascript">
    var root = '@Url.Content("~/")';
    root = (root == '/' ? "" : root);
    function dateStr(dat) {
        try {
            var arr = dat.split('T');
            var arr = arr[0].split('-');
            if (arr.length == 3)
                return arr[2] + '/' + arr[1] + '/' + arr[0];
            else return null;

        } catch (e) {
            console.log(e);
            return null;
        }
    }
$(document).ready(function () {
    $('#isNew').prop('checked', true);
    $("#SpecialRateId").val("");
    $('#isNew').click(function () {
        if ($('#isNew').prop('checked')) {
            $("#SpecialRateId").val("");
            $('#spdelete').hide();
        } else {
            if ($("#SpecialRateId").val() != "") $('#spdelete').show();
        }
    });
    $('#table tbody').on('click', '.btnClick', function () {
        $('#spdelete').show();
        $("#SpecialRateId").val($(this).closest('tr').find('td').eq(0).text());
        $.ajax({
            type: "GET",
            url: root + "/GetSpecialRateDetail/" + $("#SpecialRateId").val(),
            contentType: "application/json; charset=utf-8;",
            dataType: "json",
            success: function (data) {
                if (data != undefined) {
                    $("#isNew").prop('checked', false);
                    $("#startdate").val(dateStr(data.startDate));
                    $("#enddate").val(dateStr(data.endDate));
                    $("#spcustomerrate").val(data.customerRate);
                    $("#spagentrate").val(data.agentRate);
                    $("#sphouserate").val(data.houseRate);
                    $("#spmincutday").val(data.minCutDay);
                }
            },
            error: function (e) { $("#HouseId").val(""); console.log(e) }
        });
    });
    $("#save").click(function () {
        if ($("#HouseId").val() != "") {
            let req = new XMLHttpRequest();
            let formData = new FormData();
            
            formData.append("HouseId", $("#HouseId").val());
            formData.append("CustomerRate", $("#customerrate").val());
            formData.append("AgentRate", $("#agentrate").val());
            formData.append("HouseRate", $("#houserate").val());
            formData.append("MinCutDay", $("#mincutday").val());
            formData.append("IncCutCriteria", $("#inccutcriteria").val());
            formData.append("DecCutCriteria", $("#deccutcriteria").val());
            formData.append("DecCutPercen", $("#deccutpercen").val());
            formData.append("SpecialRateCriteria", $("#specialratecriteria").val());
            formData.append("TotalProfit", $("#totalprofit").val());
            formData.append("NotPayAlert", $("#notpayalert").val());
            formData.append("PartialPayAlert", $("#partialpayalert").val());
            req.open("POST", '/EditConfig');
            req.send(formData);
            req.onload = function () {
                if (req.readyState != 4 || req.status != 200) {
                    $("#msg").text(req.responseText)
                } else {
                    alert(req.responseText);
                    location.reload();
                }
            }
        } else {
            alert('กรุณาเลือกบ้าน');
        }
    });
    $("#spsave").click(function () {
        if ($("#SpecialRateId").val() != "" && !$("#isNew").prop('checked') || ($("#isNew").prop('checked') && $("#SpecialRateId").val() == '')) {
            let req = new XMLHttpRequest();
            let formData = new FormData();

            formData.append("isNew", $("#isNew").prop('checked'));
            formData.append("Id", $("#SpecialRateId").val());
            formData.append("HouseId", $("#HouseId").val());
            formData.append("StartDate", $("#startdate").val());
            formData.append("EndDate", $("#enddate").val());
            formData.append("CustomerRate", $("#spcustomerrate").val());
            formData.append("AgentRate", $("#spagentrate").val());
            formData.append("HouseRate", $("#sphouserate").val());
            formData.append("MinCutDay", $("#spmincutday").val());
            req.open("POST", '/EditSpecialRate');
            req.send(formData);
            req.onload = function () {
                if (req.readyState != 4 || req.status != 200) {
                    $("#msg").text(req.responseText)
                } else {
                    alert(req.responseText);
                    location.reload();
                }
            }
        } else {
            alert('กรุณาเลือกเรตพิเศษ หรือ ติ๊กที่เพิ่มเรตพิเศษใหม่');
        }
    });
    $("#spdelete").click(function () {
        if (confirm('คุณต้องการที่จะลบเรตพิเศษนี้ ใช่หรือไม่?')) {
            let req = new XMLHttpRequest();
            req.open("GET", '/DeleteSpecialRate/' + $("#SpecialRateId").val());
            req.send();
            req.onload = function () {
                if (req.readyState != 4 || req.status != 200) {
                    $("#msg").text(req.responseText)
                } else {
                    alert(req.responseText);
                    location.reload();
                }
            }
        }
    });
});
</script>