@using DailyLoan.Library.Status
<div class="card-body bg-light p-3 rounded ">
    <div class="input-group mb-3 input-group-sm">
        <input type="text" class="form-control" placeholder="เลขบัตรประชาชน">
        <input type="text" class="form-control" placeholder="สถานที่">

    </div>
    <div class="input-group mb-3 input-group-sm">
        <input type="text" class="form-control" placeholder="ชื่อ">
        <input type="text" class="form-control" placeholder="นามสกุล">
    </div>
    <div class="input-group mb-3 input-group-sm justify-content-center">
        <button type="button" class="btn btn-info btn-sm">
            <i class="fa fa-search"></i>
            ค้นหา
        </button>
        <button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#addcustomer">
            <i class="fa fa-plus-circle"></i>
            เพิ่มสัญญากู้
        </button>
    </div>
    <!-- The Modal addcustomer -->
    <div class="modal" id="addcontract">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header" style="background-color:#ff9800;color:#000;">
                    <h4 class="modal-title">เพิ่มสัญญากู้</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <form>
                        <div class="card-body bg-light p-3 rounded">
                            <div class="input-group mb-3 input-group-sm">

                                <select class="form-select form-select-sm" id="detail" name="sellist1" style="width: 90px !important; min-width:90px; max-width: 90px;">
                                    <option>คนกู้</option>
                                    <option>คนค้ำ</option>
                                </select>
                                <input type="text" class="form-control" placeholder="เลขบัตรประชาชน">
                                <input type="text" class="form-control" placeholder="ชื่อ-นามสกุล">
                                <button type="button" class="btn btn-info btn-sm">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                    </svg>
                                    ค้นหา
                                </button>
                            </div>
                            <div class="accordion" id="accordionPanelsStayOpenExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                                            ข้อมูลคนกู้
                                        </button>
                                    </h2>
                                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                                        <div class="accordion-body">
                                            <form>
                                                <div class="form-row">
                                                    <div class="container-fluid">
                                                        <div class="row">
                                                            <div class="col-md-6 pb-3">
                                                                <label for="inputEmail4">ชื่อ</label>
                                                                <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="ชื่อ" readonly>
                                                            </div>
                                                            <div class="col-md-6 pb-3">
                                                                <label for="inputEmail4">นามสกุล</label>
                                                                <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="นามสกุล" readonly>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="container-fluid">
                                                        <div class="row">
                                                            <div class="col-md-6 pb-3">
                                                                <label for="inputEmail4">ชื่อเล่น</label>
                                                                <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="ชื่อเล่น" readonly>
                                                            </div>
                                                            <div class="col-md-6 pb-3">
                                                                <label for="inputEmail4">เลขบัตรประจำตัวประชาชน</label>
                                                                <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="เลขบัตรประจำตัวประชาชน" readonly>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="container-fluid">
                                                        <div class="row">
                                                            <div class="col-md-6 pb-3">
                                                                <label for="inputEmail4">เบอร์โทร 1</label>
                                                                <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="เบอร์โทร 1" readonly>
                                                            </div>
                                                            <div class="col-md-6 pb-3">
                                                                <label for="inputEmail4">เบอร์โทร 2</label>
                                                                <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="เบอร์โทร 2" readonly>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="container-fluid">
                                                        <div class="row">
                                                            <div class="col-md-6 pb-3">
                                                                <label for="inputEmail4">จังหวัด 1</label>
                                                                <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="จังหวัด 1" readonly>
                                                            </div>
                                                            <div class="col-md-6 pb-3">
                                                                <label for="inputEmail4">อำเภอ 1</label>
                                                                <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="อำเภอ 1" readonly>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="container-fluid">
                                                        <div class="row">
                                                            <div class="col-md-6 pb-3">
                                                                <label for="inputEmail4">ตำบล 1</label>
                                                                <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="ตำบล 1" readonly>
                                                            </div>
                                                            <div class="col-md-6 pb-3">
                                                                <label for="inputEmail4">สถานที่</label>
                                                                <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="สถานที่" readonly>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="container-fluid">
                                                        <div class="row">
                                                            <div class="col-md-6 pb-3">
                                                                <label for="inputEmail4">สถานะลูกค้า</label>
                                                                <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="ดี" readonly>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="container-fluid">
                                                        <div class="row">
                                                            <div class="col pb-3">
                                                                <label for="inputEmail4">รูปบัตรประชาชน</label>
                                                                <img src="images/user.png" width="80px" class="mx-auto d-block">
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                            ข้อมูลคนค้ำ
                                        </button>
                                    </h2>
                                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                                        <div class="accordion-body">
                                            <form>
                                                <div class="form-row">
                                                    <div class="container-fluid">
                                                        <div class="row">
                                                            <div class="col-md-6 pb-3">
                                                                <label for="inputEmail4">ชื่อ</label>
                                                                <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="ชื่อ" readonly>
                                                            </div>
                                                            <div class="col-md-6 pb-3">
                                                                <label for="inputEmail4">นามสกุล</label>
                                                                <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="นามสกุล" readonly>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="container-fluid">
                                                        <div class="row">
                                                            <div class="col-md-6 pb-3">
                                                                <label for="inputEmail4">ชื่อเล่น</label>
                                                                <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="ชื่อเล่น" readonly>
                                                            </div>
                                                            <div class="col-md-6 pb-3">
                                                                <label for="inputEmail4">เลขบัตรประจำตัวประชาชน</label>
                                                                <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="เลขบัตรประจำตัวประชาชน" readonly>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="container-fluid">
                                                        <div class="row">
                                                            <div class="col-md-6 pb-3">
                                                                <label for="inputEmail4">เบอร์โทร 1</label>
                                                                <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="เบอร์โทร 1" readonly>
                                                            </div>
                                                            <div class="col-md-6 pb-3">
                                                                <label for="inputEmail4">เบอร์โทร 2</label>
                                                                <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="เบอร์โทร 2" readonly>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="container-fluid">
                                                        <div class="row">
                                                            <div class="col-md-6 pb-3">
                                                                <label for="inputEmail4">จังหวัด 1</label>
                                                                <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="จังหวัด 1" readonly>
                                                            </div>
                                                            <div class="col-md-6 pb-3">
                                                                <label for="inputEmail4">อำเภอ 1</label>
                                                                <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="อำเภอ 1" readonly>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="container-fluid">
                                                        <div class="row">
                                                            <div class="col-md-6 pb-3">
                                                                <label for="inputEmail4">ตำบล 1</label>
                                                                <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="ตำบล 1" readonly>
                                                            </div>
                                                            <div class="col-md-6 pb-3">
                                                                <label for="inputEmail4">สถานที่</label>
                                                                <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="สถานที่" readonly>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="container-fluid">
                                                        <div class="row">
                                                            <div class="col-md-6 pb-3">
                                                                <label for="inputEmail4">สถานะลูกค้า</label>
                                                                <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="ดี" readonly>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="container-fluid">
                                                        <div class="row">
                                                            <div class="col pb-3">
                                                                <label for="inputEmail4">รูปบัตรประชาชน</label>
                                                                <img src="images/user.png" width="80px" class="mx-auto d-block">
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                                            ข้อมูลสัญญา
                                        </button>
                                    </h2>
                                    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                                        <div class="accordion-body">
                                            <div class="form-row">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-md-6 pb-3">
                                                            <label for="inputEmail4">วันที่</label>
                                                            <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="วันที่" readonly>
                                                        </div>
                                                        <div class="col-md-6 pb-3">
                                                            <label for="inputEmail4">ยอดเงินขอกู้</label>
                                                            <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="ยอดเงินขอกู้">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">ขออนุมัติ</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">ปิด</button>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- The Modal viewcontract -->
<div class="modal" id="viewcontract">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header" style="background-color:#ff9800;color:#000;">
                <h4 class="modal-title">ดูข้อมูลสัญญากู้</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form>
                    <div class="card-body bg-light p-3 rounded ">
                        <div class="accordion" id="accordionPanelsStayOpenExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                                        ข้อมูลคนกู้
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                                    <div class="accordion-body">
                                        <form>
                                            <div class="form-row">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-md-6 pb-3">
                                                            <label for="inputEmail4">ชื่อ</label>
                                                            <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="ชื่อ" readonly>
                                                        </div>
                                                        <div class="col-md-6 pb-3">
                                                            <label for="inputEmail4">นามสกุล</label>
                                                            <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="นามสกุล" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-md-6 pb-3">
                                                            <label for="inputEmail4">ชื่อเล่น</label>
                                                            <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="ชื่อเล่น" readonly>
                                                        </div>
                                                        <div class="col-md-6 pb-3">
                                                            <label for="inputEmail4">เลขบัตรประจำตัวประชาชน</label>
                                                            <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="เลขบัตรประจำตัวประชาชน" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-md-6 pb-3">
                                                            <label for="inputEmail4">เบอร์โทร 1</label>
                                                            <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="เบอร์โทร 1" readonly>
                                                        </div>
                                                        <div class="col-md-6 pb-3">
                                                            <label for="inputEmail4">เบอร์โทร 2</label>
                                                            <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="เบอร์โทร 2" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-md-6 pb-3">
                                                            <label for="inputEmail4">จังหวัด 1</label>
                                                            <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="จังหวัด 1" readonly>
                                                        </div>
                                                        <div class="col-md-6 pb-3">
                                                            <label for="inputEmail4">อำเภอ 1</label>
                                                            <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="อำเภอ 1" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-md-6 pb-3">
                                                            <label for="inputEmail4">ตำบล 1</label>
                                                            <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="ตำบล 1" readonly>
                                                        </div>
                                                        <div class="col-md-6 pb-3">
                                                            <label for="inputEmail4">สถานที่</label>
                                                            <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="สถานที่" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-md-6 pb-3">
                                                            <label for="inputEmail4">สถานะลูกค้า</label>
                                                            <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="ดี" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col pb-3">
                                                            <label for="inputEmail4">รูปบัตรประชาชน</label>
                                                            <img src="images/user.png" width="80px" class="mx-auto d-block">
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true" aria-controls="panelsStayOpen-collapseTwo">
                                        ข้อมูลคนค้ำ
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                                    <div class="accordion-body">
                                        <form>
                                            <div class="form-row">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-md-6 pb-3">
                                                            <label for="inputEmail4">ชื่อ</label>
                                                            <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="ชื่อ" readonly>
                                                        </div>
                                                        <div class="col-md-6 pb-3">
                                                            <label for="inputEmail4">นามสกุล</label>
                                                            <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="นามสกุล" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-md-6 pb-3">
                                                            <label for="inputEmail4">ชื่อเล่น</label>
                                                            <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="ชื่อเล่น" readonly>
                                                        </div>
                                                        <div class="col-md-6 pb-3">
                                                            <label for="inputEmail4">เลขบัตรประจำตัวประชาชน</label>
                                                            <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="เลขบัตรประจำตัวประชาชน" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-md-6 pb-3">
                                                            <label for="inputEmail4">เบอร์โทร 1</label>
                                                            <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="เบอร์โทร 1" readonly>
                                                        </div>
                                                        <div class="col-md-6 pb-3">
                                                            <label for="inputEmail4">เบอร์โทร 2</label>
                                                            <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="เบอร์โทร 2" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-md-6 pb-3">
                                                            <label for="inputEmail4">จังหวัด 1</label>
                                                            <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="จังหวัด 1" readonly>
                                                        </div>
                                                        <div class="col-md-6 pb-3">
                                                            <label for="inputEmail4">อำเภอ 1</label>
                                                            <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="อำเภอ 1" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-md-6 pb-3">
                                                            <label for="inputEmail4">ตำบล 1</label>
                                                            <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="ตำบล 1" readonly>
                                                        </div>
                                                        <div class="col-md-6 pb-3">
                                                            <label for="inputEmail4">สถานที่</label>
                                                            <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="สถานที่" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-md-6 pb-3">
                                                            <label for="inputEmail4">สถานะลูกค้า</label>
                                                            <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="ดี" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col pb-3">
                                                            <label for="inputEmail4">รูปบัตรประชาชน</label>
                                                            <img src="images/user.png" width="80px" class="mx-auto d-block">
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                                        ข้อมูลสัญญา
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                                    <div class="accordion-body">
                                        <div class="form-row">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-md-6 pb-3">
                                                        <label for="inputEmail4">วันที่</label>
                                                        <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="วันที่" readonly>
                                                    </div>
                                                    <div class="col-md-6 pb-3">
                                                        <label for="inputEmail4">ยอดเงินขอกู้</label>
                                                        <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="ยอดเงินขอกู้" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col pb-3">
                                                        <label for="inputEmail4">รูปหลักฐาน</label>
                                                        <img src="images/user.png" width="80px" class="mx-auto d-block">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col pb-3">
                                                        <img src="images/user.png" width="80px" class="mx-auto d-block">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-md-6 pb-3">
                                                        <label for="inputEmail4">สถานะสัญญา</label>
                                                        <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="สถานนะสัญญา" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">ปิด</button>
            </div>

        </div>
    </div>
</div>

<!-- The Modal editcontract -->
<div class="modal" id="editcontract">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header" style="background-color:#ff9800;color:#000;">
                <h4 class="modal-title">แก้ไขสัญญากู้</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form>
                    <div class="card-body bg-light p-3 rounded ">
                        <div class="input-group mb-3 input-group-sm">

                            <select class="form-select form-select-sm" id="detail" name="sellist1" style="width: 90px !important; min-width:90px; max-width: 90px;">
                                <option>คนกู้</option>
                                <option>คนค้ำ</option>
                            </select>
                            <input type="text" class="form-control" placeholder="เลขบัตรประชาชน">
                            <input type="text" class="form-control" placeholder="ชื่อ-นามสกุล">
                            <button type="button" class="btn btn-info btn-sm">
                                <i class="fa fa-search"></i>
                                ค้นหา
                            </button>
                        </div>
                        <div class="accordion" id="accordionPanelsStayOpenExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                                        ข้อมูลคนกู้
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                                    <div class="accordion-body">
                                        <form>
                                            <div class="form-row">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-md-6 pb-3">
                                                            <label for="inputEmail4">ชื่อ</label>
                                                            <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="ชื่อ" readonly>
                                                        </div>
                                                        <div class="col-md-6 pb-3">
                                                            <label for="inputEmail4">นามสกุล</label>
                                                            <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="นามสกุล" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-md-6 pb-3">
                                                            <label for="inputEmail4">ชื่อเล่น</label>
                                                            <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="ชื่อเล่น" readonly>
                                                        </div>
                                                        <div class="col-md-6 pb-3">
                                                            <label for="inputEmail4">เลขบัตรประจำตัวประชาชน</label>
                                                            <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="เลขบัตรประจำตัวประชาชน" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-md-6 pb-3">
                                                            <label for="inputEmail4">เบอร์โทร 1</label>
                                                            <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="เบอร์โทร 1" readonly>
                                                        </div>
                                                        <div class="col-md-6 pb-3">
                                                            <label for="inputEmail4">เบอร์โทร 2</label>
                                                            <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="เบอร์โทร 2" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-md-6 pb-3">
                                                            <label for="inputEmail4">จังหวัด 1</label>
                                                            <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="จังหวัด 1" readonly>
                                                        </div>
                                                        <div class="col-md-6 pb-3">
                                                            <label for="inputEmail4">อำเภอ 1</label>
                                                            <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="อำเภอ 1" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-md-6 pb-3">
                                                            <label for="inputEmail4">ตำบล 1</label>
                                                            <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="ตำบล 1" readonly>
                                                        </div>
                                                        <div class="col-md-6 pb-3">
                                                            <label for="inputEmail4">สถานที่</label>
                                                            <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="สถานที่" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-md-6 pb-3">
                                                            <label for="inputEmail4">สถานะลูกค้า</label>
                                                            <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="ดี" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col pb-3">
                                                            <label for="inputEmail4">รูปบัตรประชาชน</label>
                                                            <img src="images/user.png" width="80px" class="mx-auto d-block">
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                        ข้อมูลคนค้ำ
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                                    <div class="accordion-body">
                                        <form>
                                            <div class="form-row">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-md-6 pb-3">
                                                            <label for="inputEmail4">ชื่อ</label>
                                                            <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="ชื่อ" readonly>
                                                        </div>
                                                        <div class="col-md-6 pb-3">
                                                            <label for="inputEmail4">นามสกุล</label>
                                                            <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="นามสกุล" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-md-6 pb-3">
                                                            <label for="inputEmail4">ชื่อเล่น</label>
                                                            <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="ชื่อเล่น" readonly>
                                                        </div>
                                                        <div class="col-md-6 pb-3">
                                                            <label for="inputEmail4">เลขบัตรประจำตัวประชาชน</label>
                                                            <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="เลขบัตรประจำตัวประชาชน" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-md-6 pb-3">
                                                            <label for="inputEmail4">เบอร์โทร 1</label>
                                                            <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="เบอร์โทร 1" readonly>
                                                        </div>
                                                        <div class="col-md-6 pb-3">
                                                            <label for="inputEmail4">เบอร์โทร 2</label>
                                                            <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="เบอร์โทร 2" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-md-6 pb-3">
                                                            <label for="inputEmail4">จังหวัด 1</label>
                                                            <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="จังหวัด 1" readonly>
                                                        </div>
                                                        <div class="col-md-6 pb-3">
                                                            <label for="inputEmail4">อำเภอ 1</label>
                                                            <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="อำเภอ 1" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-md-6 pb-3">
                                                            <label for="inputEmail4">ตำบล 1</label>
                                                            <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="ตำบล 1" readonly>
                                                        </div>
                                                        <div class="col-md-6 pb-3">
                                                            <label for="inputEmail4">สถานที่</label>
                                                            <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="สถานที่" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-md-6 pb-3">
                                                            <label for="inputEmail4">สถานะสัญญา</label>
                                                            <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="สถานะสัญญา" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col pb-3">
                                                            <label for="inputEmail4">รูปบัตรประชาชน</label>
                                                            <img src="images/user.png" width="80px" class="mx-auto d-block">
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                                        ข้อมูลสัญญา
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                                    <div class="accordion-body">
                                        <div class="form-row">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-md-6 pb-3">
                                                        <label for="inputEmail4">วันที่</label>
                                                        <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="วันที่" readonly>
                                                    </div>
                                                    <div class="col-md-6 pb-3">
                                                        <label for="inputEmail4">ยอดเงินขอกู้</label>
                                                        <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="ยอดเงินขอกู้">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-md-6 pb-3">
                                                        <label for="inputEmail4">สถานะสัญญา</label>
                                                        <input type="text" class="form-control form-control-sm" id="inputEmail4" placeholder="สถานะสัญญา" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col pb-3">
                                                        <label for="inputEmail4">รูปหลักฐาน</label>
                                                        <form enctype="multipart/form-data">
                                                            <div class="file-loading">
                                                                <input id="file-0a" class="file" type="file" multiple data-min-file-count="1">
                                                            </div>

                                                        </form>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">บันทึก</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">ปิด</button>
            </div>
        </div>
    </div>
</div>
<!--end -->
<table class="table table-hover" style="text-align: center; vertical-align: middle;">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ชื่อ</th>
            <th scope="col">นามสกุล</th>
            <th scope="col">สถานที่</th>
            <th scope="col">สถานะ</th>
            @if (ViewBag.UserAccess == StatusUserAccess.UserAccess_Superadmin.ToString())
            {
                <th scope="col">บ้าน</th>
            }
            @if (int.Parse(ViewBag.UserAccess) <= StatusUserAccess.UserAccess_Audit)
            {
                <th scope="col">สาย</th>
            }
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @if (ViewBag.PageData.Count > 0)
        {
            foreach (var items in ViewBag.PageData)
            {
                <tr class='clickable-row'>
                    <th scope="row">@items.Id</th>
                    <td>@items.Firstname</td>
                    <td>@items.Lastname</td>
                    <td>@items.ShortAddress</td>
                    <td>@items.StatusText</td>
                    @if (ViewBag.UserAccess == StatusUserAccess.UserAccess_Superadmin.ToString())
                    {
                        <td>@items.HouseText</td>
                    }
                    @if (int.Parse(ViewBag.UserAccess) <= StatusUserAccess.UserAccess_Audit)
                    {
                        <td>@items.CustomerLineText</td>
                    }
                <td>
                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#viewcontract">
                        <i class="fa fa-eye"></i>
                        ดู
                    </button>
                    @if (int.Parse(ViewBag.UserAccess) != StatusUserAccess.UserAccess_Audit)
                    {
                        <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#editcontract">
                            <i class="fa fa-pen-square"></i>
                            แก้ไข
                        </button>
                    }
                    @if (int.Parse(ViewBag.UserAccess) <= StatusUserAccess.UserAccess_Admin)
                    {
                        <button type="button" class="btn btn-danger btn-sm btn-delete" data-bs-toggle="modal" data-bs-target="#delcontract">
                            <i class="fa fa-trash-alt"></i>
                            ลบ
                        </button>
                    }
                </td>
                </tr>
            }
        }
    </tbody>
</table>
<!-- The Modal deletecustomer -->
<div class="modal" id="delcontract">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header" style="background-color:red;color:#fff;">
                <h4 class="modal-title">ลบข้อมูล</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form>
                    <h5>คุณต้องการลบข้อมูลสัญญา</h5>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">ลบ</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>
            </div>

        </div>
    </div>
</div>
<!--end -->
<nav aria-label="Page navigation">
    <ul class="pagination ">
        <li class="page-item"><a class="page-link" href="#">ก่อนหน้า</a></li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">ถัดไป</a></li>
    </ul>
</nav>

<script type="text/javascript">
    var root = '@Url.Content("~/")';
    var useraccess = '@ViewBag.UserAccess';
    var superadmin = '@StatusUserAccess.UserAccess_Superadmin';
    var admin = '@StatusUserAccess.UserAccess_Admin';
    root = (root == '/' ? "" : root);
    function save() {
        let req = new XMLHttpRequest();
        let formData = new FormData();

        formData.append("isNew", false);
        formData.append("HouseId", $("#house").val());
        formData.append("Status", $('input[name="status"]:checked').val() != undefined ? $('input[name="status"]:checked').val() : '');
        formData.append("Id", $("#editid").val());
        formData.append("CustomerLineId", $("#customerline").val());
        formData.append("Firstname", $("#firstname").val());
        formData.append("Lastname", $("#lastname").val());
        formData.append("Nickname", $("#nickname").val());
        formData.append("Phone1", $("#phone1").val());
        formData.append("Phone2", $("#phone2").val());
        formData.append("Idcard", $("#idcard").val());
        formData.append("Address", $("#address").val());
        formData.append("ShortAddress", $("#shortaddress").val());
        req.open("POST", '/EditCustomer');
        req.send(formData);
        req.onload = function () {
            if (req.readyState != 4 || req.status != 200) {
                $("#msg").text(req.responseText)
            } else {
                alert(req.responseText);
                location.reload();
            }
        }
    }
    function saveadd() {
        let req = new XMLHttpRequest();
        let formData = new FormData();

        formData.append("isNew", true);
        formData.append("HouseId", 0);
        formData.append("Status", $('input[name="addstatus"]:checked').val() != undefined ? $('input[name="addstatus"]:checked').val() : '');
        formData.append("Id", 0);
        formData.append("CustomerLineId", $("#addcustomerline").val());
        formData.append("Firstname", $("#addfirstname").val());
        formData.append("Lastname", $("#addlastname").val());
        formData.append("Nickname", $("#addnickname").val());
        formData.append("Phone1", $("#addphone1").val());
        formData.append("Phone2", $("#addphone2").val());
        formData.append("Idcard", $("#addidcard").val());
        formData.append("Address", $("#addaddress").val());
        formData.append("ShortAddress", $("#addshortaddress").val());
        req.open("POST", '/EditCustomer');
        req.send(formData);
        req.onload = function () {
            if (req.readyState != 4 || req.status != 200) {
                $("#msg").text(req.responseText)
            } else {
                alert(req.responseText);
                location.reload();
            }
        }
    }
    $(document).ready(function () {
        /** /
        $('#table').DataTable({
            "info": true,
            "pageLength": 10,
            "bLengthChange": false,
            "initComplete": function() {

            }
        });
        /**/
        if (useraccess == superadmin) {
            $('#house').on('change', function () {
                $('<option value="0">-</option>').appendTo($('#customerline').empty());
                $.ajax({
                    type: "GET",
                    url: root + "/GetCustomerLineAll/" + $("#house").val(),
                    contentType: "application/json; charset=utf-8;",
                    dataType: "json",
                    success: function (data) {
                        if (data != undefined) {
                            for (var it of data) {
                                $('#customerline').append('<option value="' + it['id'] + '">' + it['customerLineName'] + '</option>');
                            }
                        }
                    },
                    error: function (e) { console.log(e) }
                });
            });
            if ($('#house').val() != 0 && $('#house').val() != 1) {
                $('#customerline').empty();
                $.ajax({
                    type: "GET",
                    url: root + "/GetCustomerLineAll/" + $("#house").val(),
                    contentType: "application/json; charset=utf-8;",
                    dataType: "json",
                    success: function (data1) {
                        if (data1 != undefined) {
                            for (var it of data1) {
                                $('#customerline').append('<option value="' + it['id'] + '">' + it['customerLineName'] + '</option>');
                            }
                        }
                    },
                    error: function (e) { console.log(e) }
                });
            }
            $('#addhouse').on('change', function () {
                $('<option value="0">-</option>').appendTo($('#addcustomerline').empty());
                $.ajax({
                    type: "GET",
                    url: root + "/GetCustomerLineAll/" + $("#addhouse").val(),
                    contentType: "application/json; charset=utf-8;",
                    dataType: "json",
                    success: function (data) {
                        if (data != undefined) {
                            for (var it of data) {
                                $('#addcustomerline').append('<option value="' + it['id'] + '">' + it['customerLineName'] + '</option>');
                            }
                        }
                    },
                    error: function (e) { console.log(e) }
                });
            });
            if ($('#addhouse').val() != 0 && $('#addhouse').val() != 1) {
                $('#addcustomerline').empty();
                $.ajax({
                    type: "GET",
                    url: root + "/GetCustomerLineAll/" + $("#addhouse").val(),
                    contentType: "application/json; charset=utf-8;",
                    dataType: "json",
                    success: function (data1) {
                        if (data1 != undefined) {
                            for (var it of data1) {
                                $('#addcustomerline').append('<option value="' + it['id'] + '">' + it['customerLineName'] + '</option>');
                            }
                        }
                    },
                    error: function (e) { console.log(e) }
                });
            }
        }
        $('table tbody').on('click', '.btn-view', function () {
            $.ajax({
                type: "GET",
                url: root + "/GetCustomerDetail/" + $(this).closest('tr').find('th').eq(0).text(),
                contentType: "application/json; charset=utf-8;",
                dataType: "json",
                success: function (data) {
                    if (data != undefined) {
                        $("#viewhouse").val(data.houseText);
                        $("#viewidcard").val(data.idcard);
                        $("#viewfirstname").val(data.firstname);
                        $("#viewlastname").val(data.lastname);
                        $("#viewnickname").val(data.nickname);
                        $("#viewphone1").val(data.phone1);
                        $("#viewphone2").val(data.phone2);
                        $("#viewaddress").val(data.address);
                        if (data.status == 1)
                            $("#viewstatus1").prop('checked', true);
                        else if (data.status == 2)
                            $("#viewstatus2").prop('checked', true);
                        else if (data.status == 3)
                            $("#viewstatus3").prop('checked', true);
                        $("#viewcustomerline").val(data.customerLineText);
                    }
                },
                error: function (e) { console.log(e) }
            });
        });
        $('table tbody').on('click', '.btn-edit', function () {
            $("#editid").val($(this).closest('tr').find('th').eq(0).text());
            $.ajax({
                type: "GET",
                url: root + "/GetCustomerDetail/" + $(this).closest('tr').find('th').eq(0).text(),
                contentType: "application/json; charset=utf-8;",
                dataType: "json",
                success: function (data) {
                    if (data != undefined) {
                        $("#idcard").val(data.idcard);
                        $("#firstname").val(data.firstname);
                        $("#lastname").val(data.lastname);
                        $("#nickname").val(data.nickname);
                        $("#phone1").val(data.phone1);
                        $("#phone2").val(data.phone2);
                        $("#address").val(data.address);
                        $("#shortaddress").val(data.shortAddress);
                        if (data.status == 1)
                            $("#status1").prop('checked', true);
                        else if (data.status == 2)
                            $("#status2").prop('checked', true);
                        else if (data.status == 3)
                            $("#status3").prop('checked', true);
                        $("#house").val(data.houseId);
                        $('<option value="0">-</option>').appendTo($('#customerline').empty());
                        $.ajax({
                            type: "GET",
                            url: root + "/GetCustomerLineAll/" + $("#house").val(),
                            contentType: "application/json; charset=utf-8;",
                            dataType: "json",
                            success: function (data1) {
                                if (data1 != undefined) {
                                    for (var it of data1) {
                                        $('#customerline').append('<option value="' + it['id'] + '">' + it['customerLineName'] + '</option>');
                                    }
                                    $("#customerline").val(data.customerLineId);
                                }
                            },
                            error: function (e) { console.log(e) }
                        });
                    }
                },
                error: function (e) { console.log(e) }
            });
        });
        $('table tbody').on('click', '.btn-delete', function () {
            $("#deleteid").val($(this).closest('tr').find('th').eq(0).text());
            $("#deletename").html($(this).closest('tr').find('td').eq(0).text() + ' '+$(this).closest('tr').find('td').eq(1).text());
        });
        $("#delete").click(function () {
            let req = new XMLHttpRequest();
            req.open("GET", '/DeleteCustomer/' + $("#deleteid").val());
            req.send();
            req.onload = function () {
                if (req.readyState != 4 || req.status != 200) {
                    $("#msg").text(req.responseText)
                } else {
                    alert(req.responseText);
                    location.reload();
                }
            }
        });
    });
    $("#file-0").fileinput({
        theme: 'fas',
        uploadUrl: '#'
    }).on('filepreupload', function (event, data, previewId, index) {
        alert('The description entered is:\n\n' + ($('#description').val() || ' NULL'));
    });
    $("#file-1").fileinput({
        theme: 'fas',
        uploadUrl: '#'
    }).on('filepreupload', function (event, data, previewId, index) {
        alert('The description entered is:\n\n' + ($('#description').val() || ' NULL'));
    });
</script>